body{
    background: whitesmoke;
}
#cabecalho{
    position: fixed;
    overflow-y: scroll;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: whitesmoke;
    background: #555;
}
#curriculo{
    border: solid grey 1px;
    background: white;
}
.cima-cr{
    display: flex; flex-direction: column; align-items: center;
    text-align: center;
}
.cima-cr > ul{
    list-style: none;
}
#conteudo{
    display: flex; flex-direction: row; justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}
.principal{
    display: flex; flex-direction: column; justify-content: center;
}
.section-title{
    border-bottom: solid grey 2px;
}
.habilidades{
    display: flex; flex-direction: column; justify-content: start;
    border-right: solid grey 1px;
}
.botoes{
    display: flex; flex-direction: row; justify-content: center;
}

/* Dispositivos extra small (telefones em modo retrato, com menos de 576px) */
@media (max-width: 575.98px) { 
    *{
        font-size: .8rem;
    }
    #cabecalho{
        width: 100%; height: 32vh;
        padding: 2%;
        display: flex; flex-direction: row;
    }
    #curriculo{
        width: 95vw; height: 100%;
        padding: 2%; margin-top: 32vh;
    }
    .div-small{
        margin-left: 5%;
    }
    .habilidades{
        width: 32vw; height: 35vh;
        padding: 2%; margin-right: 2% ;
    }
    .botoes{
        margin-top: 2%;
    }
 }

/* Dispositivos small (telefones em modo paisagem, com 576px ou mais) */
@media (min-width: 576px) and (max-width: 767.98px) { 
    *{
        font-size: .9rem;
    }
    #cabecalho{
        width: 100%; height: 35vh;
        padding: 2%;
        display: flex; flex-direction: row;
    }
    #curriculo{
        width: 100vw; height: 100%;
        padding: 2%; margin-top: 35vh; margin-left: -14vw;
    }
    .div-small{
        margin-left: 5%;
    }
    .section-title{
        width: 50vh;
        padding: 1%; margin-bottom: 3%;
    }
    .habilidades{
        width: 22vw; height: 35vh;
        padding: 2%; margin-right: 2% ;
    }
    .botoes{
        margin-top: 2%;
    }
 }

/* Dispositivos médios (tablets com 768px ou mais) */
@media (min-width: 768px) and (max-width: 991.98px) { 
    *{
        font-size: .9rem;
    }
    #cabecalho{
        width: 35vw; height: 100%;
        padding: 2%;
        display: flex; flex-direction: column;
        float: left;
    }
    #curriculo{
        width: 100%; height: 100%;
        padding: 5%; margin-left: 23vw;
    }
    .principal{
        width: 80%; height: auto;
        margin: auto 2% auto 2%;
    }
    .section-title{
        width: 47vh;
        padding: 1%; margin-bottom: 5%;
    }
    .habilidades{
        width: 22vw; height: 40vh;
        padding: 2%; margin: auto ;
    }
    .botoes{
        width: 50%; height: auto;
        padding: 2%; margin-left: 50%;
    }
 }

/* Dispositivos large (desktops com 992px ou mais) */
@media (min-width: 992px) and (max-width: 1920px) { 
    *{
        font-size: 1rem;
    }
    #cabecalho{
        width: 25%; height: 100%;
        padding: 2%;
        display: flex; flex-direction: column;
        float: left;
    }
    #curriculo{
        width: 100%; height: 100%;
        padding: 5%; margin-left: 18%;
    }
    .principal{
        width: 80%; height: auto;
        margin: auto 2% auto 2%;
    }
    .section-title{
        width: 55%;
        padding: 1%; margin-bottom: 5%;
    }
    .habilidades{
        width: 25%; height: 100vh;
        padding: 2%; margin: 2%;
    }
    .botoes{
        width: 50%; height: auto;
        padding: 2%; margin-left: 45%;
    }
 }

@media print{
    @page 
    {
        size: auto;   /* auto is the initial value */
        margin: 0 10px 0 2px;  /* this affects the margin in the printer settings */
    }
    body{
        visibility: hidden;
    }
    #curriculo{
        visibility: visible;
        width: 100%; height: 100%;
        margin: auto;
        border: none;
    }
    .habilidades{
        display: block;
        visibility: visible;
        -webkit-print-color-adjust: exact;

    }
}