body{
    background: whitesmoke;
}
#cabecalho{
    width: 25%; height: 100%;
    padding: 2%;
    position: fixed;
    display: flex; flex-direction: column;
    float: left; overflow-y: scroll;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: whitesmoke;
    background: #555;
}
#curriculo{
    width: 100%; height: 100%;
    padding: 5%; margin-left: 25%;
    border: solid grey 1px;
    background: white;
}
.cima-cr{
    display: flex; flex-direction: column; align-items: center;
    text-align: center;
}
.cima-cr > ul{
    list-style: none;
}
#conteudo{
    display: flex; flex-direction: row; justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}
.principal{
    width: 80%; height: auto;
    margin: auto 2% auto 2%;
    display: flex; flex-direction: column; justify-content: center;
}
.section-title{
    width: 55%;
    padding: 1%; margin-bottom: 5%;
    border-bottom: solid grey 2px;
}
.habilidades{
    width: 20%; height: 50%;
    padding: 2%; margin: 2%;
    display: flex; flex-direction: column; justify-content: center;
    color: whitesmoke;
    text-shadow: grey .5px .5px 1.5px;
    background: #999;
    border-radius: 5px;
}
.botoes{
    display: flex; flex-direction: row; justify-content: center;
    width: 50%; height: auto;
    padding: 2%; margin-left: 50%;
}

@media print{
    @page 
    {
        size: auto;   /* auto is the initial value */
        margin: 0 10px 0 2px;  /* this affects the margin in the printer settings */
    }
    body{
        visibility: hidden;
    }
    #curriculo{
        visibility: visible;
        width: 100%; height: 100%;
        margin: auto;
        border: none;
    }
    .habilidades{
        visibility: visible;
        color: whitesmoke;
        text-shadow: grey .5px .5px 1.5px;
        background: #999;
        border-radius: 5px;
    }
}